.profile-image {
  float:left;
  padding-right: 20px;
  height: 300px;
  width: 300px;
}

.user-username {
  font-size: 400%;
  font-family: "Comic Sans MS", Helvetica, sans-serif;
}

.user-info {
  font-size: 200%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
