// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
$primary: #222428;
$secondary: #222428;

ion-list .list-md {
  margin: 0;
  padding: 0;
  background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu .split-pane-md.split-pane-visible > .split-pane-side {
  min-width: 270px;
  max-width: 28%;
  border-right: 0;
  border-left: 0;
}

ion-split-pane .split-pane-md {
  --border: 0;
}
