.home-image {
  float:left;
  padding-right: 20px;
  height: 600px;
  width: 400px;
}

.star-image {
  float:left;
  height: 50px;
  width: 50px;
}

.game-title {
  font-size: 300%;
  font-family: "Comic Sans MS", Helvetica, sans-serif;
}

.game-publishing {
  font-size: 200%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.game-description {
  font-size: 200%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
