<ion-header>
  <ion-toolbar color="red">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="toolbar-background">
      <img object-fit: cover src="../../assets/images/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="red">
  <!--ion-split-pane-->
  <div class="welcome-title">
    Welcome to MyGameList!
  </div>
  <div class="welcome-message">
    Here's a random game to start
  </div>
  <div class="random-game">
    (Click on image for more info)<br />
    <img class="home-image" [src]="this.image" (click)="goToGame()">
    <!--/ion-split-pane-->
    <div class="game-title">{{this.name}}</div>
    <br />
    <div class="star-image" *ngFor="let s of this.stars">
      <img src="{{s}}">
    </div>
    <br />
    <br />
    <div class="game-publishing">
      <br />
      <b>Released on: </b> {{this.release | date}}
      <br />
    </div>
    <div class="game-description">
      <b>Description</b>
      <br />
      {{description}}
    </div>
  </div>
</ion-content>
